:root {
    --bg-color: #ffffff;
    --second-bg-color: #fcfcfc;
    --primary-color: #002549;
    --secondary-color: #003d63;
    --tertiary-color: #00567f;
    --quaternary-color: #00719b;
    --quinary-color: #008db9;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: Inter, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--second-bg-color);
    justify-content: center;
    font-display: flex;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 2000px;
    height: 80px;
    padding: 20px 20px;
}

.nav-links-container {
    border: 3px solid var(--primary-color);
    border-radius: 90px;
    display: flex;
    width: 400px;
    height: 40px;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}

.nav-links a:link,
.nav-links a:visited {
    color: var(--primary-color);
    padding: 0.3rem 1rem;
    text-decoration: none;
    text-align: center;
}

.nav-links a:hover {
    color: var(--bg-color);
    background-color: var(--primary-color);
    border-radius: 90px;
}


.nav-links a:active {
    color: var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 90px;
}

.nav-links a.active {
    color: var(--bg-color);
    background-color: var(--primary-color);
    border-radius: 90px;
    margin: 10px;

}

.logo-container {
    display: flex;
    padding: 0 20px;
}

.logo-container img {
    width: 50px;
    height: 60px;
    padding-bottom: 20px;
}

.login-button-container {
    display: flex;
    padding-top: 5px;
}

.login-button-container img {
    width: 30px;
    height: 30px;

}