/* Futura Bold */
@font-face {
    font-family: "Futura";
    src: url("../fonts/futur.ttf");
    src: url("../fonts/futur.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Inter Regular */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter_18pt-Regular.ttf");
    src: url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Inter Semibold */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter_28pt-Semibold.ttf");
    src: url("../fonts/Inter_28pt-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #fcfcfc;
    --primary-color: #03335e;
    --secondary-color: #095190;
    --tertiary-color: #1579c0;
    --quaternary-color: #598cb8;
    --quinary-color: #b2dbf8;
    --form-box-color: #bebebe;
    --invalid-color: #e74c3c;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: "Inter", sans-serif;
    font-weight: normal;
    margin: 0;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Admin New Password */

.admin-new-password-background {
    background-color: #bebebe;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}

.admin-new-password-panel {
    background-color: var(--bg-color);
    padding: 5px;
    text-align: center;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-new-password-header {
    margin-bottom: 30px;;
}

.new-password-header {
    padding-top: 20px;
    text-align: center;
    font-family: "Futura", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
}

.new-password-text {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: var(--primary-color);
}

.admin-reset-pass-form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
}

.admin-new-password {
    width: 300px;
    max-width: 300px;
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--form-box-color);
    border-radius: 6px;
}

.admin-confirm-password {
    width: 300px;
    max-width: 300px;
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--form-box-color);
    border-radius: 6px;
}

.new-password-container {
    position: relative;
    width: 100%;
}

.requirement {
    font-size: 10px;
}

.password-requirements {
    display: flex;
    gap: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.requirement-item {
    display: flex;
    align-items: center;
    gap: 3px;
    white-space: nowrap;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}

.check-image {
    width: 10px;
    height: 10px;
}

.reset-pass-button {
    width: 150px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px;
    display: block;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.reset-pass-button:hover {
    background-color: var(--secondary-color);
}

.input-wrapper {
    position: relative;
    width: fit-content;
    width: 100%;
}

.input-wrapper input {
    width: 100%;
    box-sizing: border-box;
}

