/* Futura Bold */
@font-face {
    font-family: "Futura";
    src: url("../fonts/futur.ttf");
    src: url("../fonts/futur.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Inter Regular */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter_18pt-Regular.ttf");
    src: url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Inter Semibold */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter_28pt-Semibold.ttf");
    src: url("../fonts/Inter_28pt-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #fcfcfc;
    --primary-color: #03335e;
    --secondary-color: #095190;
    --tertiary-color: #1579c0;
    --quaternary-color: #598cb8;
    --quinary-color: #b2dbf8;
    --form-box-color: #bebebe;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: "Inter", sans-serif;
    font-weight: normal;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logistiq-text {
    padding-top: 50px;
    text-align: center;
    font-family: "Futura", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
}

.logistiq-slogan {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: var(--primary-color);
}

.required-asterisk {
    color: red;
}


/* Admin Login Page */

.admin-login-background {
    background-color: #bebebe;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}

.admin-login-panel {
    background-color: var(--bg-color);
    padding: 5px;
    text-align: center;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-login-header {
    margin-bottom: 30px;;
}

.admin-login-form {
    width: 100%;
    max-width: 185px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
}

.admin-username-input,
.admin-password-input {
    display: block;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid var(--form-box-color);
    border-radius: 6px;
}

.admin-password-container {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}

.signin-button {
    width: 80px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    display: block;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    transition: background 0.2s, color 0.2s;
}

.signin-button:hover {
    background-color: var(--secondary-color);
}

.admin-forgot-password {
    width: 100%;
    display: block;
    font-size: 15px;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.admin-forgot-password a {
    text-decoration: none;
    color: #bebebe;
    font-family: "Inter", sans-serif;
}

.admin-forgot-password a:hover {
    color: var(--primary-color);
}