/* Futura Bold */
@font-face {
    font-family: "Futura";
    src: url("../fonts/futur.ttf");
    src: url("../fonts/futur.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Inter Regular */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter_18pt-Regular.ttf");
    src: url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Inter Semibold */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter_28pt-Semibold.ttf");
    src: url("../fonts/Inter_28pt-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #fcfcfc;
    --primary-color: #03335e;
    --secondary-color: #095190;
    --tertiary-color: #1579c0;
    --quaternary-color: #598cb8;
    --quinary-color: #b2dbf8;
    --form-box-color: #bebebe;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: "Inter", sans-serif;
    font-weight: normal;
    margin: 0;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logistiq-text {
    text-align: center;
    font-family: "Futura", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}

.logistiq-slogan {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: var(--primary-color);
}

.required-asterisk {
    color: red;
}

/* Login Page */

.user-login-container {
    display: flex;
    height: 100vh;
}

.user-login-panel {
    width: 40%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.user-login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-login-header img {
    width: 200px;
    margin-bottom: 10px;
}


.user-login-form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.user-username-input,
.user-password-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--form-box-color);
    border-radius: 6px;
    width: 100%;
}

.user-password-container {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 41%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}

.signin-button {
    width: 80px;
    margin: 0 auto;
    padding: 10px;
    display: block;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.signin-button:hover {
    background-color: var(--secondary-color);
}

.user-signup {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
}

.user-signup {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #bebebe;
}

.user-signup a:link {
    color: var(--primary-color);
    text-decoration: none;
}

.user-login-media {
    flex-grow: 1;
    background-size: cover;
    background-position: center;
}

.forgot-password-link {
    display: block;
    text-align: center;
    margin-top: 8px;
    color: #03335e;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password-link:hover {
    text-decoration: underline;
}
