<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LogistIQ | HexaHaul</title>
        <link rel="stylesheet" href="/static/admin-forgot-password.css" />
        <link rel="icon" href="/assets/HexaHaul icon transparent.png" />
    </head>
    <body>

    <!--Admin Forgot Password-->
        <div class="admin-forgot-password-background">
            <div class="admin-forgot-password-container">
                <div class="admin-forgot-password-panel">
                    <div class="admin-forgot-password-header">
                        <p class="forgot-password-header">Forgot Password</p>
                        <p class="forgot-password-text">Enter your email account to send the verification code to reset your password.</p>
                    </div>
            
                    <div class="admin-email-box">
                        <img src="/assets/email.png" alt="Email Icon" class="email-icon">
                        <input type="email" placeholder="Enter your email" class="admin-email-input" required />
                    </div>

                    <div class="reset-password-container">
                        <a href="verification-code.html" button type="submit" class="send-verification-button">Send Verification Code</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>