<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LogistIQ | HexaHaul</title>
        <link rel="stylesheet" href="/static/index.css" />
        <link rel="icon" href="/assets/HexaHaul icon transparent.png" />
    </head>
    <div id="top"></div>
    <body>
        <!--Navigation Bar-->
        <nav class="navbar">
            <div class="nav-container">
                <!--Logo Container-->
                <div class="logo-container">
                    <img src="/assets/HexaHaul icon transparent.png" alt="Logo" />
                </div>

                <!--Navigation Links-->
                <div class="nav-links-container">
                    <div class="nav-links">
                        <a href="#top" class="active">About</a>
                        <a href="/templates/services.html">Services</a>
                        <a href="/templates/tracking.html">Tracking</a>
                        <a href="/templates/FAQ.html">FAQ</a>
                    </div>
                </div>

                <!--Login Button-->
                <div class="login-button-container">
                    <a href="user-login.html"><img src="/assets/login.png" alt="login" /></a>
                </div>
            </div>
        </nav>

        <!--Slogan with Media-->
        <div class="slogan-about">
            <div class="slogan-container">
                <p>Haul Smarter</p>
                <p>with</p>
                <p>HexaHaul</p>
            </div>
            <div class="media-container-1">
                <img src="/assets/delivery truck 3d.png" alt="Media" />
            </div>
            <div class="media-container-2">
                <img src="/assets/conveyor box 3d.png" alt="Media" />
            </div>
        <!--About Us Section-->
            <div class="about-container">
                <p>HexaHaul is a leading logistics company dedicated to providing efficient 
                and reliable transportation solutions. 
                Our mission is to streamline your supply chain and ensure timely deliveries.</p>
            </div>
        </div>
<br />
<br />
<br />
        <!--Benefits-->
        <div class="benefits-container">
            <div class="benefits">
                <div class="circle-wrapper">
                    <img src="/assets/security.png" alt="Security Icon" />
                </div>
                <p class="benefits-text">SECURITY</p>
            </div>

            <div class="benefits">
                <div class="circle-wrapper">
                    <img src="/assets/timely-delivery.png" alt="Timely Delivery Icon" />
                </div>
                <p class="benefits-text">TIMELY DELIVERY</p>
            </div>

            <div class="benefits">
                <div class="circle-wrapper">
                    <img src="/assets/cost-efficiency.png" alt="Cost Efficiency Icon" />
                </div>
                <p class="benefits-text">COST EFFICIENCY</p>
            </div>

            <div class="benefits">
                <div class="circle-wrapper"> 
                    <img src="/assets/eco-friendly.png" alt="Eco-Friendly Icon" />
                </div>
                <p class="benefits-text">ECO-FRIENDLY</p>
            </div>

        </div>
<br />
<br />
<br />
        <!--Statistics-->
        <div class="statistics-container">
            <div class="statistics">
                <p class="statistics-text">STATISTICS</p>
                <p class="statistics-description">At LogistIQ, we don’t just promise anything—we prove it.</p>
            </div> 

            <div class="stats-satisfaction-performance">
                <div class="satisfaction-performance">
                    <p class="stats-bold">4.9/5</p>
                    <p class="stats-regular">Customer Satisfaction</p>
                    <br />
                    <p class="stats-bold">99.8%</p>
                    <p class="stats-regular">On-Time Delivery Rate</p>
                </div>
            </div>

            <div class="stats-cost-eco">
                <div class="cost-eco">
                    <p class="stats-bold">30%</p>
                    <p class="stats-regular">Reduction in Logistics Costs</p>
                    <br />
                    <p class="stats-bold">12K+</p>
                    <p class="stats-regular">Tons of CO2 Emissions Saved</p>
                </div>
            </div>
        </div>
<br />
<br />
<br />
        <!--Footer-->
        <footer class="footer-container">
            <div class="contact-us">
                <p class="footer-text">Contact Us</p>
                <div class="email">
                    <img src="/assets/email (1).png" alt="Email Icon" />
                    <p class="email-text">customercare@logistiq.com</p>
                </div>
                <br />
                <div class="phone">
                    <img src="/assets/telephone-handle-silhouette.png" alt="Phone Icon" />
                    <p class="phone-text">+63 106 157 1016</p>
                </div>
                <br />
                <div class="branch">
                    <img src="/assets/home.png" alt="Home Icon" />
                    <p class="branch-text">Local Branches</p>
                </div>
            </div>

            <div class="about-us">
                <p class="footer-text">About Us</p>
                <p class="company-profile">Company Profile</p>
                <br />
                <p class="our-growth">Our Growth</p>
            </div>

            <div class="our-services">
                <p class="footer-text">Our Services</p>
                <p class="motorcycle">Motorcycle Delivery</p>
                <br />
                <p class="Car">Car Delivery</p>
                <br />
                <p class="truck">Truck Delivery</p>
            </div>

            <div class="company-name">
                <div class="logistiq-name">
                    <p class="logistiq-text">LogistIQ</p>
                    <p class="logistiq-slogan-footer">Delivering excellence. No matter the situation.</p>
                </div>

                <div class="social-media">
                    <img src="/assets/linkedin.png" alt="LinkedIn Icon" />
                    <img src="/assets/facebook.png" alt="Facebook Icon" />
                    <img src="/assets/instagram.png" alt="Instagram Icon" />
                    <img src="/assets/twitter.png" alt="Twitter Icon" />
                </div>
            </div>
        </footer>
    </body>
</html>