<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Now | Motorcycle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='motorcycle-book.css') }}">
</head>
<body>
    <!--Square-->
    <div class="book-container">
        <div class="book">
            <div class="book-header">
                <div>
                    <h3>You are almost ready <br>to book!</h3>
                    <p>Let's get your details</p>
                </div>
                <img src="{{ url_for('static', filename='images/motorcycle.png') }}" alt="img" />
            </div>
            <form class="TypeBox" id="bookingForm">
                <div>
                    <label class="Drop" for="dropoff">Drop off point</label>
                    <select id="dropoff" class="truck-input" required>
                        <option value="" disabled selected>Select drop off point</option>
                        <option>Location A</option>
                        <option>Location B</option>
                        <option>Location C</option>
                    </select>
                </div>
                <div>
                    <label class="schedule" for="schedule">Schedule</label>
                    <input type="date" id="schedule" class="truck-input" placeholder="Select Schedule" required />
                </div>
                <div>
                    <label class="weight" for="weight">Specify Weight</label>
                    <select id="weight" class="truck-input" required>
                        <option value="" disabled selected>Select weight range</option>
                        <option>0.1kg-25kg</option>
                    </select>
                </div>
                <div>
                    <label class="quantity" for="quantity">Quantity</label>
                    <input type="number" id="quantity" class="truck-input" placeholder="Enter Quantity" required min="1" step="1" />
                </div>
                <div>
                    <label class="special" for="special">Special Instructions</label>
                    <input type="text" id="special" class="truck-input" placeholder="Enter Any Additional Details (Optional)"/>
                </div>
                <button type="submit" class="btn">Confirm Booking</button>
            </form>
        </div>
    </div>

    <script>
        const paymentWallUrl = "{{ url_for('payment_wall') }}";
    </script>
    <script src="{{ url_for('static', filename='motorcycle-book.js') }}"></script>
</body>
</html>
