<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LogistIQ | HexaHaul</title>
        <link rel="stylesheet" href="signin.css" />
        <link rel="icon" href="/images/screentake-removebg-preview.png" />
    </head>
    <body>
        <!--User Login-->
        <div class="user-signin-container">
            <div class="user-signin-panel">
                <div class="user-signin-header">
                    <p class="logistiq-text">LogistIQ</p>
                    <p class="logistiq-slogan">Delivering excellence. No matter the situation.</p>
                    <center><img src="/images/HexaHaul logo.png" alt="Logo" /></center>
                </div>
                <form action="index.html" method="post" class="user-signin-form">
                    <input type="text" placeholder="Name" class="user-username-input" required />
                    <input type="password" placeholder="Username" class="user-password-input" required />
                    <input type="text" placeholder="Password" class="user-username-input" required />
                    <input type="password" placeholder="Confirm Password" class="user-password-input" required />
                    <button type="submit" class="signin-button">Sign Up</button>
                </form>
                <p class="user-signin">Already have an account? <a href="user-login.html">Sign In</a></p>
            </div> 
            <div class="user-signin-media">
            </div>
         <div class="card-container">
            <div class="card">
        </div>
    </body> 
</html>