<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LogistIQ | HexaHaul</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='user-login.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/HexaHaul icon transparent.png') }}">
    </head>
    <body>
        <!--User Login-->
        <div class="user-login-container">
            <div class="user-login-panel">
                <div class="user-login-header">
                    <p class="logistiq-text">LogistIQ</p>
                    <p class="logistiq-slogan">Delivering excellence. No matter the situation.</p>
                    <center><img src="{{ url_for('static', filename='images/HexaHaul logo.png') }}" alt="Logo" /></center>
                </div>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <div class="flash-messages">
                      {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
                <form action="{{ url_for('user_login_html') }}" method="post" class="user-login-form">
                    <input type="text" name="username" placeholder="Username" class="user-username-input" required />
                    <input type="password" name="password" placeholder="Password" class="user-password-input" required />
                    <button type="submit" class="signin-button">Sign In</button>
                </form>
                <p class="user-signup">Don't have an account? <a href="{{ url_for('user_signup_html') }}">Sign Up</a></p>
            </div> 
            <div class="user-login-media">
            </div>
        </div>
    </body> 
</html>