<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LogistIQ | HexaHaul</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='user-login.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/HexaHaul icon transparent.png') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/screentake-removebg-preview.png') }}" />
    </head>
    <body>
        <!--User Login-->
        <div class="user-login-container">
            <div class="user-login-panel">
                <div class="user-login-header">
                    <p class="logistiq-text">LogistIQ</p>
                    <p class="logistiq-slogan">Delivering excellence. No matter the situation.</p>
                    <center><img src="{{ url_for('static', filename='images/HexaHaul logo.png') }}" alt="Logo" /></center>
                </div>
                <form action="{{ url_for('user_login_html') }}" method="post" class="user-login-form">
                    {% if error %}
                    <div class="error-message">
                        {{ error }}
                    </div>
                    {% endif %}
                    <input type="text" name="username" placeholder="Username" class="user-username-input" required />  
                    <div class="user-password-container">
                        <input type="password" name="password" placeholder="Password" class="user-password-input" id="user-password" required />
                        <span class="toggle-password" onclick="togglePassword()">
                            <img src="{{ url_for('static', filename='images/visible.png') }}" 
                                 data-visible="{{ url_for('static', filename='images/visible.png') }}"
                                 data-hide="{{ url_for('static', filename='images/hide.png') }}"
                                 alt="Show Password" id="show-password-icon">
                        </span>
                    </div>
                    <button type="submit" class="signin-button">Sign In</button>
                    <a href="{{ url_for('forgot_password') }}" class="forgot-password-link">Forgot Password?</a>
                </form>
                <p class="user-signup">Don't have an account? <a href="{{ url_for('user_signup_html') }}">Sign Up</a></p>
            </div> 
            <div class="user-login-media">
                <img src="{{ url_for('static', filename='images/conveyor front view.png') }}" alt="Conveyor Belt Image" />
            </div>
        </div>
        <script>
            // Pass Flask URL to JS
            const adminLoginUrl = "{{ url_for('admin_login') }}";
        </script>
        <script src="{{ url_for('static', filename='user-login.js') }}"></script>
    </body> 
</html>